<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OSCConnect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />            
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <OSCConnect.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Userpass" serializeAs="String">
                <value />
            </setting>
            <setting name="IsPassSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SSHHost" serializeAs="String">
                <value>OWN</value>
            </setting>
            <setting name="AutoOpenApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DetectClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommandLineUpdated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchSSHOnImport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewerVersionAvailable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCheckNewVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteableUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VNCQuality" serializeAs="String">
                <value>95</value>
            </setting>
        </OSCConnect.Properties.Settings>
    </userSettings>
</configuration>
